.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  .already {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 20px;
  }

  .sign {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
